/* reset / global */

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  font: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: none;
}

ul {
  list-style: none;
}

input {
  border: none;
  outline: none;
}

/* variables */

:root {
  --headerHeight: 7.7rem;
}

/* main menu */

.header {
  background-color: white;
  height: var(--headerHeight);
  left: 0;
  padding: 0 2.8rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.header__overlay {
  background: black;
  height: 100vh;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: opacity 0.2s ease-out;
  width: 100%;
}

.header__overlay.header__overlay--visible {
  opacity: 0.5;
  pointer-events: auto;

  @media screen and (min-width: 1200px) {
    opacity: 0;
    pointer-events: none;
  }
}

.header__navigation {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.header__logo {
  height: 4rem;
  width: 4rem;
}

.header__burger {
  display: flex;
  flex-direction: column;
  height: 2rem;
  justify-content: space-between;
  width: 3rem;
  z-index: 1;

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.header__burger-line {
  background-color: black;
  height: 2px;
  width: 100%;
}

.header__menu {
  background: white;
  height: 100vh;
  list-style: none;
  padding: calc(var(--headerHeight) + 1.4rem) 4.5rem 0;
  position: fixed;
  left: 100%;
  text-align: center;
  top: 0;
  transition: transform 0.2s ease-out;

  @media screen and (min-width: 1200px) {
    align-items: center;
    background: initial;
    display: flex;
    gap: 2.8rem;
    height: 100%;
    padding: initial;
    position: initial;
    text-align: initial;
  }
}

.header__menu.header__menu--open {
  transform: translateX(-100%);

  @media screen and (min-width: 1200px) {
    transform: initial;
  }
}

.header__item-dropdown {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;

  @media screen and (min-width: 1200px) {
    flex-direction: initial;

    cursor: pointer;
    height: 100%;
    margin: initial;
  }
}

.header__dropdown-wrapper {
  display: flex;
  align-items: center;
}

.header__dropdown-text,
.header__item {
  display: block;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 1rem 0;

  @media screen and (min-width: 1200px) {
    cursor: pointer;
    display: initial;
    padding: initial;
    transition: color 0.2s ease-in-out;
  }
}

.header__dropdown-arrow {
  @media screen and (min-width: 1200px) {
    transition: color 0.2s ease-in-out;
  }
}

.header__item-dropdown:hover .header__dropdown-text,
.header__item-dropdown:hover .header__dropdown-arrow,
.header__item:hover {
  @media screen and (min-width: 1200px) {
    color: #4d4d4d;
  }
}

.header__submenu {
  display: none;
  list-style: none;
  position: static;
  text-align: center;

  @media screen and (min-width: 1200px) {
    background: white;
    border-top: 2px solid #91ac41;
    box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.15);
    cursor: initial;
    display: initial;
    left: -1rem;
    opacity: 0;
    padding: 4rem;
    pointer-events: none;
    position: absolute;
    text-align: initial;
    top: 80%;
    transition: opacity 0.2s ease-in-out;
    white-space: nowrap;
    width: initial;
  }
}

.header__submenu.header__submenu--open {
  display: initial;
}

.header__item-dropdown:hover .header__submenu {
  @media screen and (min-width: 1200px) {
    opacity: 1;
    pointer-events: auto;
  }
}

.header__submenu-item {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2;
  padding: 0.4rem 0;

  @media screen and (min-width: 1200px) {
    cursor: pointer;
    font-size: 1.4rem;
    letter-spacing: 0.5px;
    padding: 0.4rem 2.4rem;
    transition: color 0.3s ease-out;
  }
}

.header__submenu-item:not(:first-child) {
  border-top: 1px solid #e5e6ec;
}

.header__submenu-item:hover {
  @media screen and (min-width: 1200px) {
    color: #4d4d4d;
  }
}

.header__button {
  background-color: #aad236;
  border-radius: 4px;
  border: 1px solid #aad236;
  color: #ffffff;
  display: flex;
  font-size: 1.4rem;
  line-height: 1.4;
  padding: 0.9rem 3.4rem;
  text-transform: uppercase;
  white-space: nowrap;

  @media screen and (min-width: 1200px) {
    font-size: 1.2rem;
    line-height: 1;
    transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  }
}

.header__button:hover {
  @media screen and (min-width: 1200px) {
    color: #aad236;
    background-color: transparent;
  }
}

/* main banner */

.hero {
  align-items: center;
  background-image: url(./assets/vegetais.jpeg);
  background-position: center;
  background-size: cover;
  display: flex;
  height: calc(100vh - var(--headerHeight));
  justify-content: center;
  margin-top: var(--headerHeight);
  padding: 0 1.5rem;
  position: relative;
}

.hero::before {
  background-color: white;
  content: '';
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
}

.hero__text {
  position: relative;

  @media screen and (min-width: 1200px) {
    max-width: 1140px;
    padding: 0 1.5rem;
  }
}

.hero__title {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 0.2em;
  margin-bottom: 4rem;
  text-align: center;

  @media screen and (min-width: 1200px) {
    font-size: 4.4rem;
  }
}

.hero__subtitle {
  color: #8b8b99;
  font-size: 1.4rem;
  letter-spacing: 0.5px;
  line-height: 1.1;
  text-align: center;
}

/* cards section */

.cards {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.cards__card {
  background-position: center;
  background-size: cover;
  color: white;
  height: 45rem;
  padding: 10rem 6rem;
  text-align: center;

  @media screen and (min-width: 1200px) {
    flex-basis: 25%;
    height: auto;
    text-align: left;
  }
}

.cards__card.cards__card--lettuce {
  background-image: url(./assets/alface.jpeg);
}

.cards__card.cards__card--pear {
  background-image: url(./assets/pera.jpeg);
}

.cards__card.cards__card--peach {
  background-image: url(./assets/pessego.jpeg);
}

.cards__card.cards__card--lemon {
  background-image: url(./assets/limao.jpeg);
}

.cards__card-title {
  font-size: 2rem;
  font-weight: 600;

  @media screen and (min-width: 1200px) {
    font-size: 2.4rem;
  }
}

.cards__card-text {
  font-size: 1.4rem;
  letter-spacing: 0.5px;
  line-height: 1.6;
  margin: 2rem 0;
}

.cards__card-link {
  background-color: #333;
  border-radius: 0.4rem;
  border: 0.1rem solid #333333;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 1.4rem 4.2rem;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    cursor: pointer;
    transition: 0.2s ease-out;
    transition-property: background-color, color;
  }
}

.cards__card-link:hover {
  @media screen and (min-width: 1200px) {
    background-color: transparent;
    color: #333333;
  }
}

/* fresh food section */

.fresh-food {
  padding: 7.1rem 1.5rem 4.5rem;

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row-reverse;
    gap: 3rem;
    margin: auto;
    max-width: 1140px;
    padding: 7.7rem 1.5rem;
  }
}

.fresh-food__content-wrapper {
  @media screen and (min-width: 1200px) {
    flex-basis: 40%;
  }
}

.fresh-food__intro {
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: initial;
  }
}

.fresh-food__intro-title {
  color: #91ac41;
  font: 2rem/1.35 'Caveat', cursive;

  @media screen and (min-width: 1200px) {
    font: 2.4rem/1.3 'Caveat', cursive;
  }
}

.fresh-food__intro-subtitle {
  font: 600 2rem/1.35 'Poppins', sans-serif;

  @media screen and (min-width: 1200px) {
    font: 600 2.4rem/1.2 'Poppins', sans-serif;
  }
}

.fresh-food__intro-text {
  color: #8b8b99;
  font: 400 1.4rem/1.4 'Poppins', sans-serif;
  letter-spacing: 0.5px;
  margin-top: 1.6rem;

  @media screen and (min-width: 1200px) {
    font: 400 1.2rem/1.6 'Poppins', sans-serif;
  }
}

.fresh-food__list {
  margin-top: 5.4rem;

  @media screen and (min-width: 1200px) {
    padding: 0 1.5rem;
  }
}

.fresh-food__list-item {
  align-items: center;
  display: flex;

  @media screen and (min-width: 1200px) {
    cursor: pointer;
  }
}

.fresh-food__list-item:not(:first-child) {
  margin-top: 3.2rem;
}

.fresh-food__list-circle {
  align-items: center;
  background-color: #b6d06d;
  border-radius: 100%;
  display: flex;
  flex-shrink: 0;
  height: 6rem;
  justify-content: center;
  width: 6rem;

  @media screen and (min-width: 1200px) {
    transition: transform 0.2s ease-out;
  }
}

.fresh-food__list-item:hover .fresh-food__list-circle {
  @media screen and (min-width: 1200px) {
    transform: scale(1.1);
  }
}

.fresh-food__list-icon {
  color: white;
  font-size: 2.5rem;
}

.fresh-food__list-content {
  padding-left: 2.4rem;
}

.fresh-food__list-title {
  font: 500 1.4rem/1 'Poppins', sans-serif;
}

.fresh-food__list-text {
  color: #8b8b99;
  font: 400 1.4rem/1.4 'Poppins', sans-serif;
  letter-spacing: 0.5px;
  margin-top: 0.8rem;

  @media screen and (min-width: 1200px) {
    font: 400 1.2rem/1.6 'Poppins', sans-serif;
  }
}

.fresh-food__image-wrapper {
  margin-top: 3.2rem;

  @media screen and (min-width: 1200px) {
    flex-basis: 60%;
    height: 51.8rem;
    margin-top: initial;
  }
}

.fresh-food__image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

/* feature section */

.feature {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 4.8rem 1.5rem;
  position: relative;

  @media screen and (min-width: 1200px) {
    padding: 4.8rem 0;
  }
}

.feature::before {
  background: linear-gradient(
    120deg,
    #ffffff 40%,
    rgba(0, 0, 0, 0) 40%,
    rgba(0, 0, 0, 0) 100%
  );
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.feature__wrapper {
  position: relative;

  @media screen and (min-width: 1200px) {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    gap: 3rem;
    margin: 0 auto;
    max-width: 1140px;
    padding: 0 1.5rem;
  }
}

.feature__content {
  @media screen and (min-width: 1200px) {
    flex-basis: 40%;
  }
}

.feature__title {
  font: 600 2rem/1.4 'Poppins', sans-serif;
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: initial;
    font: 600 2.4rem/1.2 'Poppins', sans-serif;
  }
}

.feature__text {
  color: #8b8b99;
  font: 400 1.6rem/1.6 'Poppins', sans-serif;
  letter-spacing: 0.5px;
  margin-top: 1.6rem;
}

.feature__image-wrapper {
  margin-top: 5.4rem;

  @media screen and (min-width: 1200px) {
    flex-basis: 60%;
    margin-top: initial;
  }
}

.feature__image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

/* team section */

.team {
  background-color: #232323;
  color: white;
  padding: 10.1rem 1.5rem 12.7rem;
  text-align: center;

  @media screen and (min-width: 1200px) {
    padding: 10.7rem 0;
  }
}

.team__container {
  @media screen and (min-width: 1200px) {
    margin: 0 auto;
    max-width: 1140px;
    padding: 0 1.5rem;
  }
}

.team__title {
  color: #91ac41;
  font: 2rem/1.35 'Caveat', cursive;

  @media screen and (min-width: 1200px) {
    font: 2.4rem/1.3 'Caveat', cursive;
  }
}

.team__subtitle {
  font: 600 2.9rem/1.38 'Poppins', sans-serif;

  @media screen and (min-width: 1200px) {
    font: 600 4.4rem/1.2 'Poppins', sans-serif;
  }
}

.team__text {
  font: 500 1.6rem/1.6 'Poppins', sans-serif;
  letter-spacing: 0.5px;
  margin-top: 1.6rem;

  @media screen and (min-width: 1200px) {
    margin: 1.6rem 19.5rem;
  }
}

.team__list {
  margin-top: 5.4rem;

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.team__list-person {
  @media screen and (min-width: 1200px) {
    flex-basis: 25%;
    padding: 0 1.5rem;
  }
}

.team__list-person:not(:first-child) {
  margin-top: 5.2rem;

  @media screen and (min-width: 1200px) {
    margin-top: initial;
  }
}

.team__list-person:hover .team__list-person-pic {
  @media screen and (min-width: 1200px) {
    transform: scale(1.2);
    transition: transform 0.2s ease-out;
  }
}

.team__list-person-mask {
  border-radius: 100%;
  height: 17.6rem;
  margin: 0 auto;
  overflow: hidden;
  width: 17.6rem;
}

.team__list-person-pic {
  height: 100%;
  object-fit: cover;
  width: 100%;

  @media screen and (min-width: 1200px) {
    transition: transform 0.2s ease-out;
  }
}

.team__list-person-name {
  font: 600 1.6rem/1 'Poppins', sans-serif;
  margin-top: 2.5rem;
  text-transform: uppercase;
}

.team__list-person-role {
  color: #8b8b99;
  font: 500 1.4rem/1.4 'Poppins', sans-serif;
}

.team__list-icons {
  color: #8b8b99;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin-top: 1.9rem;
}

.team__list-circle {
  align-items: center;
  background-color: #f5f6fb;
  border-radius: 100%;
  display: flex;
  height: 2.5rem;
  justify-content: center;
  width: 2.5rem;
}

.team__list-icon {
  font-size: 1.2rem;
}

/* order section */

.order {
  background-image: url(./assets/background8.jpg);
  background-position: center;
  background-size: cover;
  padding: 6rem 0 6.6rem;
  position: relative;
}

.order::before {
  background-color: black;
  content: '';
  height: 100%;
  left: 0;
  opacity: 0.4;
  position: absolute;
  top: 0;
  width: 100%;
}

.order__container {
  padding: 0 4rem;
  position: relative;

  @media screen and (min-width: 1200px) {
    margin: 0 auto;
    max-width: 1140px;
    padding: 0 11rem;
  }
}

.order__title {
  color: white;
  font: 600 2.9rem/1.37 'Poppins', sans-serif;

  @media screen and (min-width: 1200px) {
    font: 600 4.4rem/1.2 'Poppins', sans-serif;
  }
}

.order__links {
  display: flex;
  font: 600 1.4rem/1.4 'Poppins', sans-serif;
  gap: 2.6rem;
  margin-top: 2.2rem;

  @media screen and (min-width: 1200px) {
    font: 600 1.2rem/1 'Poppins', sans-serif;
    margin-top: 4.6rem;
  }
}

.order__links-first {
  background-color: white;
  border-radius: 0.4rem;
  border: 1px solid white;
  color: #333333;
  margin-left: 1.3rem;
  padding: 1.4rem 2.3rem;

  @media screen and (min-width: 1200px) {
    cursor: pointer;
    margin-left: initial;
    transition: 0.3s ease-out;
    transition-property: background-color, color;
  }
}

.order__links-first:hover {
  @media screen and (min-width: 1200px) {
    background-color: transparent;
    color: white;
  }
}

.order__links-second {
  background-color: #f69dad;
  border-radius: 0.4rem;
  border: 1px solid #f69dad;
  color: white;
  margin-right: 1.3rem;
  padding: 1.4rem 2.3rem;

  @media screen and (min-width: 1200px) {
    cursor: pointer;
    margin-right: initial;
    transition: 0.3s ease-out;
    transition-property: background-color, color;
  }
}

.order__links-second:hover {
  @media screen and (min-width: 1200px) {
    background-color: transparent;
    color: #f69dad;
  }
}

/* subscribe section */

.subscribe {
  background-color: #f7eee2;
  padding: 9rem 0 9.5rem;

  @media screen and (min-width: 1200px) {
    padding: 9rem 0;
  }
}

.subscribe__container {
  padding: 0 1.5rem;

  @media screen and (min-width: 1200px) {
    align-items: center;
    display: flex;
    gap: 3rem;
    justify-content: center;
    margin: 0 auto;
    max-width: 1140px;
  }
}

.subscribe__intro {
  text-align: center;

  @media screen and (min-width: 1200px) {
    flex-basis: 40%;
    text-align: initial;
    margin-bottom: 1.6rem;
  }
}

.subscribe__intro-title {
  color: #91ac41;
  font: 2rem/1.35 'Caveat', cursive;

  @media screen and (min-width: 1200px) {
    font: 2.4rem/1.3 'Caveat', cursive;
  }
}

.subscribe__intro-subtitle {
  font: 600 2.9rem/1.38 'Poppins', sans-serif;
  margin-top: 0.8rem;

  @media screen and (min-width: 1200px) {
    font: 600 4.4rem/1.2 'Poppins', sans-serif;
  }
}

.subscribe__form {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1200px) {
    align-items: center;
    flex-basis: 60%;
    flex-direction: initial;
    gap: 2.5rem;
    margin-top: initial;
  }
}

.subscribe__form-email {
  border-radius: 0.4rem;
  font: 1.4rem/1.5 'Poppins', sans-serif;
  padding: 1.1rem;

  @media screen and (min-width: 1200px) {
    width: 42.3rem;
  }
}

.subscribe__form-button {
  background-color: #aad236;
  border-radius: 0.4rem;
  border: 1px solid #aad236;
  color: white;
  cursor: pointer;
  font: 600 1.4rem 'Poppins', sans-serif;
  margin: 1rem auto 0;
  padding: 1rem 4.2rem;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    margin: initial;
    transition: 0.2s ease-out;
    transition-property: background-color, color;
  }
}

.subscribe__form-button:hover {
  @media screen and (min-width: 1200px) {
    background-color: transparent;
    color: #aad236;
  }
}

/* footer */

.footer {
  background-color: black;
  padding: 4.5rem 0;
}

.footer * {
  color: #8b8b99;
  font: 1.4rem/1.7 'Poppins', sans-serif;
  letter-spacing: 0.5px;
}

.footer__container {
  padding: 0 1.5rem;

  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1140px;
  }
}

.footer__section:not(:first-child) {
  margin-top: 3.5rem;

  @media screen and (min-width: 1200px) {
    margin-top: initial;
  }
}

.footer__section--1,
.footer__section--4 {
  @media screen and (min-width: 1200px) {
    flex-basis: 33%;
  }
}

.footer__section--2,
.footer__section--3 {
  @media screen and (min-width: 1200px) {
    flex-basis: 16%;
  }
}

.footer__title {
  color: white;
  font: 600 1.6rem/1 'Poppins', sans-serif;
  letter-spacing: normal;
  margin-bottom: 1.9rem;

  @media screen and (min-width: 1200px) {
    margin-bottom: 4rem;
  }
}

.footer__list {
  margin-top: 2rem;
}

.footer__list-item {
  display: flex;
  align-items: center;
}

.footer__list-item:not(:first-child) {
  margin-top: 1rem;
}

.footer__list-item:hover .footer__circle {
  @media screen and (min-width: 1200px) {
    transform: scale(1.2);
  }
}

.footer__circle {
  align-items: center;
  background-color: white;
  border-radius: 100%;
  display: flex;
  height: 3.2rem;
  justify-content: center;
  margin-right: 1rem;
  width: 3.2rem;

  @media screen and (min-width: 1200px) {
    transition: transform 0.2s ease-out;
  }
}

.footer__icon {
  color: #91ac41;
  font-size: 1.2rem;
}

.footer__subtitle {
  color: white;
  font: 1.6rem/1.7 'Poppins', sans-serif;
}

.footer__link {
  @media screen and (min-width: 1200px) {
    cursor: pointer;
    transition: 0.2s ease-out;
    transition-property: color, transform;
  }
}

.footer__link:hover {
  @media screen and (min-width: 1200px) {
    color: white;
    transform: translateX(0.5rem);
  }
}

.footer__map {
  border: none;
  height: 24rem;
  width: 100%;
}
