/* reset */

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  font: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: none;
}

/* variables */

:root {
  --headerHeight: 7.7rem;
}

/* main menu */

.header {
  background-color: white;
  height: var(--headerHeight);
  left: 0;
  padding: 0 2.8rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.header_navigation {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.logo {
  height: 4rem;
  width: 4rem;
}

.menu {
  display: flex;
  flex-direction: column;
  height: 2rem;
  justify-content: space-between;
  width: 3rem;

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.menu_line {
  background-color: black;
  height: 2px;
  width: 100%;
}

.menu_desktop {
  list-style: none;
}

.menu_desktop_item {
  font-size: 1.4rem;
  font-weight: 600;
}

/* main banner */

.banner::before {
  background-color: white;
  content: '';
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
}

.banner {
  align-items: center;
  background-image: url(./assets/vegetais.jpeg);
  background-position: center;
  background-size: cover;
  display: flex;
  height: calc(100vh - var(--headerHeight));
  justify-content: center;
  margin-top: var(--headerHeight);
  padding: 0 1.5rem;
  position: relative;
}

.banner_text {
  position: relative;

  @media screen and (min-width: 1200px) {
    max-width: 1140px;
    padding: 0 1.5rem;
  }
}

.banner_title {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 0.2em;
  margin-bottom: 4rem;
  text-align: center;

  @media screen and (min-width: 1200px) {
    font-size: 4.4rem;
  }
}

.banner_subtitle {
  color: #8b8b99;
  font-size: 1.4rem;
  letter-spacing: 0.5px;
  line-height: 1.6rem;
  text-align: center;
}

/* cards section */

.card {
  background-position: center;
  background-size: cover;
  color: white;
  height: 45rem;
  padding: 10rem 6rem;
  text-align: center;
}

.card.alface {
  background-image: url(./assets/alface.jpeg);
}

.card.pera {
  background-image: url(./assets/pera.jpeg);
}

.card.pessego {
  background-image: url(./assets/pessego.jpeg);
}

.card.limao {
  background-image: url(./assets/limao.jpeg);
}

.cardTitle {
  font-size: 2rem;
  font-weight: 600;
}

.cardText {
  font-size: 1.4rem;
  letter-spacing: 0.5px;
  line-height: 1.6rem;
  margin: 2rem 0 1.2rem;
}

.cardLink {
  background: #333;
  border-radius: 0.4rem;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 1.4rem 4.2rem;
  text-transform: uppercase;
}
