/* reset */

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  font: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: none;
}

/* variables */

:root {
  --headerHeight: 7.7rem;
}

/* main menu */

.header {
  background-color: white;
  height: var(--headerHeight);
  left: 0;
  padding: 0 2.8rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.overlay {
  background: black;
  height: 100vh;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: opacity 0.2s ease-out;
  width: 100%;
}

.overlay.visible {
  opacity: 0.5;
  pointer-events: auto;

  @media screen and (min-width: 1200px) {
    opacity: 0;
    pointer-events: none;
  }
}

.header_navigation {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.logo {
  height: 4rem;
  width: 4rem;
}

.menu {
  display: flex;
  flex-direction: column;
  height: 2rem;
  justify-content: space-between;
  width: 3rem;
  z-index: 1;

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.menu_line {
  background-color: black;
  height: 2px;
  width: 100%;
}

.menu_mobile {
  background: white;
  cursor: pointer;
  height: 100vh;
  list-style: none;
  padding: calc(var(--headerHeight) + 1.4rem) 4.5rem 0;
  position: fixed;
  left: 100%;
  text-align: center;
  top: 0;
  transition: transform 0.2s ease-out;

  /* @media screen and (min-width: 1200px) {
    white-space: nowrap;
  } */
}

.menu_mobile.open {
  transform: translateX(-100%);

  @media screen and (min-width: 1200px) {
    transform: initial;
  }
}

.menu_desktop {
  @media screen and (min-width: 1200px) {
    align-items: center;
    background: initial;
    display: flex;
    gap: 2.8rem;
    height: 100%;
    padding: initial;
    position: initial;
    text-align: initial;
  }
}

.menu_mobile_item {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin: 1rem 0;
}

.menu_desktop_item {
  @media screen and (min-width: 1200px) {
    display: initial;
    margin: initial;
    transition: color 0.2s ease-in-out;
  }
}

.menu_desktop_item:hover,
.menu_desktop_drop:hover .menu_desktop_item,
.menu_desktop_drop:hover .menu_desktop_icon {
  @media screen and (min-width: 1200px) {
    color: #4d4d4d;
  }
}

.menu_desktop_icon {
  @media screen and (min-width: 1200px) {
    transition: color 0.2s ease-in-out;
  }
}

.menu_mobile_button {
  background-color: #aad236;
  border-radius: 4px;
  border: 1px solid #aad236;
  color: #ffffff;
  display: flex;
  font-size: 1.4rem;
  line-height: 1.4;
  padding: 0.9rem 3.4rem;
  text-transform: uppercase;
}

.menu_desktop_button {
  white-space: nowrap;

  @media screen and (min-width: 1200px) {
    font-size: 1.2rem;
    line-height: 1;
    transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  }
}

.menu_desktop_button:hover {
  @media screen and (min-width: 1200px) {
    color: #aad236;
    background-color: transparent;
  }
}

.menu_mobile_drop {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;

  @media screen and (min-width: 1200px) {
    flex-direction: initial;
  }
}

.menu_desktop_drop {
  @media screen and (min-width: 1200px) {
    height: 100%;
    margin: initial;
  }
}

.menu_desktop_drop:hover .menu_dropdown {
  @media screen and (min-width: 1200px) {
    opacity: 1;
    pointer-events: auto;
  }
}

.menu_drop_wrapper {
  display: flex;
  align-items: center;
}

.menu_dropdown {
  display: none;
  list-style: none;
  position: static;
  text-align: center;

  @media screen and (min-width: 1200px) {
    background: white;
    border-top: 2px solid #91ac41;
    box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.15);
    display: initial;
    left: -1rem;
    opacity: 0;
    padding: 4rem;
    pointer-events: none;
    position: absolute;
    text-align: initial;
    top: 80%;
    transition: opacity 0.2s ease-in-out;
    white-space: nowrap;
    width: initial;
  }
}

.menu_dropdown.open {
  display: initial;
}

.menu_dropdown_wrapper {
  padding: 0.4rem 0;

  @media screen and (min-width: 1200px) {
    padding: 0.4rem 2.4rem;
  }
}

.menu_dropdown_wrapper:not(:first-child) {
  border-top: 1px solid #e5e6ec;
}

.menu_dropdown_item {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2;

  @media screen and (min-width: 1200px) {
    font-size: 1.4rem;
    letter-spacing: 0.5px;
  }
}

.menu_dropdown_item:hover {
  color: #4d4d4d;
}

/* main banner */

.banner::before {
  background-color: white;
  content: '';
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
}

.banner {
  align-items: center;
  background-image: url(./assets/vegetais.jpeg);
  background-position: center;
  background-size: cover;
  display: flex;
  height: calc(100vh - var(--headerHeight));
  justify-content: center;
  margin-top: var(--headerHeight);
  padding: 0 1.5rem;
  position: relative;
}

.banner_text {
  position: relative;

  @media screen and (min-width: 1200px) {
    max-width: 1140px;
    padding: 0 1.5rem;
  }
}

.banner_title {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 0.2em;
  margin-bottom: 4rem;
  text-align: center;

  @media screen and (min-width: 1200px) {
    font-size: 4.4rem;
  }
}

.banner_subtitle {
  color: #8b8b99;
  font-size: 1.4rem;
  letter-spacing: 0.5px;
  line-height: 1.1;
  text-align: center;
}

/* cards section */

.cards {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.card {
  background-position: center;
  background-size: cover;
  color: white;
  height: 45rem;
  padding: 10rem 6rem;
  text-align: center;

  @media screen and (min-width: 1200px) {
    flex-basis: 25%;
    height: auto;
    text-align: left;
  }
}

.card.alface {
  background-image: url(./assets/alface.jpeg);
}

.card.pera {
  background-image: url(./assets/pera.jpeg);
}

.card.pessego {
  background-image: url(./assets/pessego.jpeg);
}

.card.limao {
  background-image: url(./assets/limao.jpeg);
}

.cardTitle {
  font-size: 2rem;
  font-weight: 600;

  @media screen and (min-width: 1200px) {
    font-size: 2.4rem;
  }
}

.cardText {
  font-size: 1.4rem;
  letter-spacing: 0.5px;
  line-height: 1.6;
  margin: 2rem 0;
}

.cardLink {
  background: #333;
  border-radius: 0.4rem;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 1.4rem 4.2rem;
  text-transform: uppercase;
}

/* fresh food section */

.fresh-food {
  padding: 7.1rem 1.5rem 4.5rem;
}

.fresh-food_intro {
  text-align: center;
}

.fresh-food_intro-title {
  color: #91ac41;
  font: 2rem/1.35 'Caveat', cursive;
}

.fresh-food_intro-subtitle {
  font: 600 2rem/1.35 'Poppins', sans-serif;
}

.fresh-food_intro-text {
  color: #8b8b99;
  font: 400 1.4rem/1.4 'Poppins', sans-serif;
  letter-spacing: 0.5px;
  margin-top: 1.6rem;
}

.fresh-food_list {
  margin-top: 5.4rem;
}

.fresh-food_list-item {
  display: flex;
}

.fresh-food_list-item:not(:first-child) {
  margin-top: 3.2rem;
}

.fresh-food_list-icon {
  background-color: #b6d06d;
  border-radius: 100%;
  height: 6rem;
  width: 6rem;
  flex-shrink: 0;
}

.fresh-food_list-content {
  padding-left: 2.4rem;
}

.fresh-food_list-title {
  font: 500 1.4rem/1 'Poppins', sans-serif;
}

.fresh-food_list-text {
  color: #8b8b99;
  font: 400 1.4rem/1.4 'Poppins', sans-serif;
  letter-spacing: 0.5px;
  margin-top: 0.8rem;
}
